* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}

html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

a {
	text-decoration: none;
}

a:visited {
	color: black;
	text-decoration: none;
}

a:active {
	color: black;
	text-decoration: none;
}

#container {
	width: 100%;
	height: 100%;

	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;

	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;

	flex-direction: column;
	justify-content: center;
	
	position: relative;
	font-family: 'Consolas';
}

.title {
	font-size: 64px;
	 text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#clock {
	padding-top: 30px;
	font-size: 56px;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
